@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <abbr title="Phone">Fone:</abbr>
    (41) 99268-2656
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">suporte@pqdiv.com</a><br />
</address>